<app-main>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <h1>{ props.data.date }</h1>
  <div>
    <h2>Total</h2>
    <ul>
      <li>Cas : { props.data.summary.globalstat[0].totalconfirmed }</li>
      <li>Morts : { props.data.summary.globalstat[0].totaldeaths }</li>
      <li>Guéris : { props.data.summary.globalstat[0].totalrecovered }</li>
    </ul>
  </div>
  <div>
    <h2>Aujourd'hui</h2>
    <ul>
      <li>Cas : { props.data.summary.globalstat[0].newconfirmed }</li>
      <li>Morts : { props.data.summary.globalstat[0].newdeaths }</li>
      <li>Guéris : { props.data.summary.globalstat[0].newrecovered }</li>
    </ul>
  </div>

</app-main>
