<app-main>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <h1>{ props.data.date }</h1>
  <div>
    <h2>Total</h2>
    <ul>
      <li>Cas : { props.data.covidedGlobal }</li>
      <li>Morts : { props.data.deathGlobal }</li>
      <li>Guéris : { props.data.healedGlobal }</li>
    </ul>
  </div>
  <div>
    <h2>Aujourd'hui</h2>
    <ul>
      <li>Cas : { props.data.covidedToday }</li>
      <li>Morts : { props.data.deathToday }</li>
      <li>Guéris : { props.data.healedToday }</li>
    </ul>
  </div>

</app-main>
