<app>
    <router base={base}>
        <route path="(#|)">
            <app-main data="{state.info}"/>
            <tablo data="{state.info}"/>
        </route>
     <route path="#/pi/(.*)">
            <chart/>
        </route>
    </router>
    <script>
        const loc = window.location
        export default {
        base: `${loc.protocol}//${loc.host}${loc.pathname ? loc.pathname : ''}`,
            onBeforeMount(props, state) {
                state.info = ({
                    date: "???",
                })
                var point = this
                var settings = {
                    "url": "https://api.covid19api.com/summary",
                    "method": "GET",
                    "timeout": 0,
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    state.info = ({
                        date: response.Date,
                        covidedGlobal: response.Global.TotalConfirmed,
                        deathGlobal: response.Global.TotalDeaths,
                        healedGlobal: response.Global.TotalRecovered,
                        covidedToday: response.Global.NewConfirmed,
                        deathToday: response.Global.NewDeaths,
                        healedToday: response.Global.NewRecovered,
                        table: response.Countries
                    })
                    point.update()
                });
                let name = 'france';
                createdb();
                selectsummary();
                selectcountries(name);
            }
        }
    </script>
</app>