<app>
    <router base={base}>
        <route path="(#|)">
            <app-main data="{state.info}"/>
            <tablo data="{state.info}"/>
        </route>
     <route path="#/pi/(.*)">
            <chart/>
        </route>
    </router>
    <script>
        const loc = window.location
        export default {
        base: `${loc.protocol}//${loc.host}${loc.pathname ? loc.pathname : ''}`,
            onBeforeMount(props, state) {
                state.info = ({
                    date: "???",
                })
                var point = this
                createdb();
                selectsummary();
                state.info =  selectsummary();
                console.log(state);
            }
        }
    </script>
</app>