<app>
    <router base={base}>
        <route path="(#|)">
            <app-main data="{state.info}"/>
            <tablo data="{state.info}"/>
        </route>
     <route path="#/pi/(.*)">
            <chart/>
        </route>
    </router>
    <script>
        const loc = window.location
        export default {
        base: `${loc.protocol}//${loc.host}${loc.pathname ? loc.pathname : ''}`,
            onBeforeMount(props, state) {
                state.info = ({
                    date: "???",
                    summary: {}
                })
                var point = this
                let name = 'france';
                createdb();
                selectsummary();
                let countries = selectcountries(name); // ça marche aussi
                let infocountry = getInfoCountries(name); // ça marche
                let countryName = getCountryNameFromCountryCode("AT"); // ça marche ça
                state.info.summary =  selectsummary();
                console.log("summary", state.info.summary);
                state.info.date = new Date();
                // state.info.test = [{ title:'First item', done: true },{ title:'Second item'},{ title:'Third item'}]
                // console.log("props", props);
                
            }
        }
    </script>
</app>