<chart>
    <!--    TODO-->
    <h2 id="countryName" class="text-center mt-5"/>
    <div id="" class="ml-5 pl-5"><h3 id="datum">Covid 19 : </h3></div>
    <h4 class="ml-5 pl-5">Graph total</h4>
    <div id="chartdiv" class="m-5" style="height: 80vh"></div>
    <h4 class="ml-5 pl-5">Graph différentiel</h4>
    <div id="chartdiv2" class="m-5" style="height: 80vh"></div>
    <script>
        export default {
            onMounted(props, state) {
                let href = location.href;
                let countrycode = href.match(/([^\/]*)\/*$/)[1];
                document.getElementById("countryName").innerText = countrycode
                let name = countrycode;
                let infocountry = getInfoCountries(name);
                let infoconf = infocountry[0].confirmed;
                let infodeath = infocountry[0].deaths;
                let inforeco = infocountry[0].recovered;
                let infodate = new Date(infocountry[0].date);
                let realdate = infodate.toLocaleDateString();
                let date = new Date();
                document.getElementById("datum").innerText = "COVID 19 : "+date.toLocaleDateString()
                let countryName = getCountryNameFromCountryCode(countrycode);

                document.getElementById("countryName").innerText = countryName
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    // Create chart
                    let chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.logo.disabled = true;
                    let data = [];
                    let price1 = infoconf,
                        price2 = infodeath,
                        price3 = inforeco;
                    let date = new Date(2015, 0, 2)
                    for (let i = 0; i < infocountry.length; i++) {
                        price1 = infocountry[i].confirmed;
                        data.push({
                            date1: infocountry[i].date,
                            price1: price1
                        });
                    }
                    for (let i = 0; i < infocountry.length; i++) {
                        price2 = infocountry[i].deaths;
                        data.push({
                            date2: infocountry[i].date,
                            price2: price2
                        });
                    }
                    for (let i = 0; i < infocountry.length; i++) {
                        price3 = infocountry[i].recovered;
                        data.push({
                            date3: infocountry[i].date,
                            price3: price3
                        });
                    }

                    chart.data = data;

                    let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.grid.template.location = 0;
                    dateAxis.renderer.labels.template.fill = am4core.color("#000000");

                    let dateAxis2 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis2.renderer.grid.template.location = 0;
                    dateAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");

                    let dateAxis3 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis3.renderer.grid.template.location = 0;
                    dateAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");

                    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;
                    valueAxis.renderer.labels.template.fill = am4core.color("#000000");

                    valueAxis.renderer.minWidth = 60;

                    let valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis2.tooltip.disabled = true;
                    valueAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");
                    valueAxis2.renderer.minWidth = 60;
                    valueAxis2.syncWithAxis = valueAxis;

                    let valueAxis3 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis3.tooltip.disabled = true;
                    valueAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");
                    valueAxis3.renderer.minWidth = 60;
                    valueAxis3.syncWithAxis = valueAxis;

                    let series = chart.series.push(new am4charts.LineSeries());
                    series.name = "Cas";
                    series.dataFields.dateX = "date1";
                    series.dataFields.valueY = "price1";
                    series.tooltipText = "{valueY.value}";
                    series.fill = am4core.color("#e59165");
                    series.stroke = am4core.color("#e59165");
                    //series.strokeWidth = 3;

                    let series2 = chart.series.push(new am4charts.LineSeries());
                    series2.name = "Morts";
                    series2.dataFields.dateX = "date2";
                    series2.dataFields.valueY = "price2";
                    series2.yAxis = valueAxis;
                    series2.xAxis = dateAxis;
                    series2.tooltipText = "{valueY.value}";
                    series2.fill = am4core.color("#dfcc64");
                    series2.stroke = am4core.color("#dfcc64");
                    //series2.strokeWidth = 3;

                    let series3 = chart.series.push(new am4charts.LineSeries());
                    series3.name = "Guéris";
                    series3.dataFields.dateX = "date3";
                    series3.dataFields.valueY = "price3";
                    series3.yAxis = valueAxis;
                    series3.xAxis = dateAxis;
                    series3.tooltipText = "{valueY.value}";
                    series3.fill = am4core.color("#2C7E3D");
                    series3.stroke = am4core.color("#2C7E3D");
                    //series2.strokeWidth = 3;

                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.xAxis = dateAxis2;

                    let scrollbarX = new am4charts.XYChartScrollbar();
                    scrollbarX.series.push(series);
                    chart.scrollbarX = scrollbarX;

                    chart.legend = new am4charts.Legend();
                    chart.legend.parent = chart.plotContainer;
                    chart.legend.zIndex = 100;

                    valueAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis.renderer.grid.template.strokeOpacity = 0.07;
                    valueAxis.renderer.grid.template.strokeOpacity = 0.07;

                    // chart number 2
                    chart = am4core.create("chartdiv2", am4charts.XYChart);
                    chart.logo.disabled = true;
                    data = [];
                    price1 = infoconf,
                        price2 = infodeath,
                        price3 = inforeco;
                    let lastconfirmed = 0
                    let lastdeaths = 0
                    let lastrecovered = 0
                    date = new Date(2015, 0, 2)
                    for (let i = 0; i < infocountry.length; i++) {
                        price1 = infocountry[i].confirmed - lastconfirmed;
                        lastconfirmed = infocountry[i].confirmed
                        data.push({
                            date1: infocountry[i].date,
                            price1: price1
                        });
                    }
                    for (let i = 0; i < infocountry.length; i++) {
                        price2 = infocountry[i].deaths - lastdeaths;
                        lastdeaths = infocountry[i].deaths
                        data.push({
                            date2: infocountry[i].date,
                            price2: price2
                        });
                    }
                    for (let i = 0; i < infocountry.length; i++) {
                        price3 = infocountry[i].recovered - lastrecovered;
                        lastrecovered = infocountry[i].recovered
                        data.push({
                            date3: infocountry[i].date,
                            price3: price3
                        });
                    }

                    chart.data = data;

                    dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.grid.template.location = 0;
                    dateAxis.renderer.labels.template.fill = am4core.color("#000000");

                    dateAxis2 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis2.renderer.grid.template.location = 0;
                    dateAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");

                    dateAxis3 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis3.renderer.grid.template.location = 0;
                    dateAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");

                    valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;
                    valueAxis.renderer.labels.template.fill = am4core.color("#000000");

                    valueAxis.renderer.minWidth = 60;

                    valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis2.tooltip.disabled = true;
                    valueAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");
                    valueAxis2.renderer.minWidth = 60;
                    valueAxis2.syncWithAxis = valueAxis;

                    valueAxis3 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis3.tooltip.disabled = true;
                    valueAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");
                    valueAxis3.renderer.minWidth = 60;
                    valueAxis3.syncWithAxis = valueAxis;

                    series = chart.series.push(new am4charts.LineSeries());
                    series.name = "Cas";
                    series.dataFields.dateX = "date1";
                    series.dataFields.valueY = "price1";
                    series.tooltipText = "{valueY.value}";
                    series.fill = am4core.color("#e59165");
                    series.stroke = am4core.color("#e59165");
                    //series.strokeWidth = 3;

                    series2 = chart.series.push(new am4charts.LineSeries());
                    series2.name = "Morts";
                    series2.dataFields.dateX = "date2";
                    series2.dataFields.valueY = "price2";
                    series2.yAxis = valueAxis;
                    series2.xAxis = dateAxis;
                    series2.tooltipText = "{valueY.value}";
                    series2.fill = am4core.color("#dfcc64");
                    series2.stroke = am4core.color("#dfcc64");
                    //series2.strokeWidth = 3;

                    series3 = chart.series.push(new am4charts.LineSeries());
                    series3.name = "Guéris";
                    series3.dataFields.dateX = "date3";
                    series3.dataFields.valueY = "price3";
                    series3.yAxis = valueAxis;
                    series3.xAxis = dateAxis;
                    series3.tooltipText = "{valueY.value}";
                    series3.fill = am4core.color("#2C7E3D");
                    series3.stroke = am4core.color("#2C7E3D");
                    //series2.strokeWidth = 3;

                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.xAxis = dateAxis2;

                    scrollbarX = new am4charts.XYChartScrollbar();
                    scrollbarX.series.push(series);
                    chart.scrollbarX = scrollbarX;

                    chart.legend = new am4charts.Legend();
                    chart.legend.parent = chart.plotContainer;
                    chart.legend.zIndex = 100;

                    valueAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis.renderer.grid.template.strokeOpacity = 0.07;
                    valueAxis.renderer.grid.template.strokeOpacity = 0.07;

                });
            }
        }
    </script>
</chart>