<chart>
    <h1>Salut c'est moi la chart de :</h1>
<!--    TODO-->
    <h2 id="codepi"/>
    <div id="chartdiv" style="height: 80vh"></div>
    <script>
        export default {
            onMounted(props, state) {
                let href = location.href;
                let countrycode = href.match(/([^\/]*)\/*$/)[1];
                document.getElementById("codepi").innerText=countrycode
                let name = countrycode;
               let infocountry = getInfoCountries(name);
               let infoconf = infocountry[0].confirmed;
               let infodeath = infocountry[0].deaths;
               let inforeco = infocountry[0].recovered;
               let infodate = new Date (infocountry[0].date);
                console.log("infocountry",infocountry);
                console.log("infodate",infodate.getMonth(), infodate.getDate());
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    // Create chart
                    let chart = am4core.create("chartdiv", am4charts.XYChart);

                    let data = [];
                    let price1 = infoconf, price2 = infodeath, price3 = inforeco;
                    for (let i = 0; i < infocountry.length; i++) {
                        price1 = infocountry[i].confirmed;
                        data.push({ date1: new Date(infodate, 0, i), price1: price1 });
                    }
                    for (let i = 0; i < infocountry.length; i++) {
                        price2 = infocountry[i].deaths;
                        data.push({ date2: new Date(2017, 0, i), price2: price2 });
}
                    for (let i = 0; i < infocountry.length; i++) {
                        price3 = infocountry[i].recovered;
                        data.push({ date3: new Date(2019, 0, i), price3: price3 });
                    }

                    chart.data = data;

                    let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.grid.template.location = 0;
                    dateAxis.renderer.labels.template.fill = am4core.color("#e59165");

                    let dateAxis2 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis2.renderer.grid.template.location = 0;
                    dateAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");

                    let dateAxis3 = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis3.renderer.grid.template.location = 0;
                    dateAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");

                    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;
                    valueAxis.renderer.labels.template.fill = am4core.color("#e59165");

                    valueAxis.renderer.minWidth = 60;

                    let valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis2.tooltip.disabled = true;
                    valueAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");
                    valueAxis2.renderer.minWidth = 60;
                    valueAxis2.syncWithAxis = valueAxis;

                    let valueAxis3 = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis3.tooltip.disabled = true;
                    valueAxis3.renderer.labels.template.fill = am4core.color("#2C7E3D");
                    valueAxis3.renderer.minWidth = 60;
                    valueAxis3.syncWithAxis = valueAxis;

                    let series = chart.series.push(new am4charts.LineSeries());
                    series.name = "Cas";
                    series.dataFields.dateX = "date1";
                    series.dataFields.valueY = "price1";
                    series.tooltipText = "{valueY.value}";
                    series.fill = am4core.color("#e59165");
                    series.stroke = am4core.color("#e59165");
                    //series.strokeWidth = 3;

                    let series2 = chart.series.push(new am4charts.LineSeries());
                    series2.name = "Morts";
                    series2.dataFields.dateX = "date2";
                    series2.dataFields.valueY = "price2";
                    series2.yAxis = valueAxis2;
                    series2.xAxis = dateAxis2;
                    series2.tooltipText = "{valueY.value}";
                    series2.fill = am4core.color("#dfcc64");
                    series2.stroke = am4core.color("#dfcc64");
                    //series2.strokeWidth = 3;

                    let series3 = chart.series.push(new am4charts.LineSeries());
                    series3.name = "Guéris";
                    series3.dataFields.dateX = "date3";
                    series3.dataFields.valueY = "price3";
                    series3.yAxis = valueAxis3;
                    series3.xAxis = dateAxis3;
                    series3.tooltipText = "{valueY.value}";
                    series3.fill = am4core.color("#2C7E3D");
                    series3.stroke = am4core.color("#2C7E3D");
                    //series2.strokeWidth = 3;

                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.xAxis = dateAxis2;

                    let scrollbarX = new am4charts.XYChartScrollbar();
                    scrollbarX.series.push(series);
                    chart.scrollbarX = scrollbarX;

                    chart.legend = new am4charts.Legend();
                    chart.legend.parent = chart.plotContainer;
                    chart.legend.zIndex = 100;

                    valueAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis2.renderer.grid.template.strokeOpacity = 0.07;
                    dateAxis.renderer.grid.template.strokeOpacity = 0.07;
                    valueAxis.renderer.grid.template.strokeOpacity = 0.07;

                });
            }
        }
    </script>
</chart>