<tablo>
    <table class="table table-bordered table-hover table-condensed table-striped" id="table">
        <tr>
            <th onclick="sortTable('1','country')">Pays</th>
            <th onclick="sortTable('2','newconfirmed')">Cas</th>
            <th onclick="sortTable('3','newrecovered')">Gueris</th>
            <th onclick="sortTable('4','newdeaths')">Morts</th>
            <th onclick="sortTable('5','totalconfirmed')">Cas Total</th>
            <th onclick="sortTable('6','totalrecovered')">Guéris Total</th>
            <th onclick="sortTable('7','totaldeaths')">Morts Total</th>
        </tr>
        <tbody>
        </tbody>
    </table>
    <script>
        export default {
            onMounted(props,state){
                console.log("prop",props.data.summary)
                //TODO
                for (let numPays in props.data.summary.countries) {
                    let line = props.data.summary.countries[numPays]
                    // console.log(line);
                    let ligne = "<th>" + line.country + "</th>"
                        + "<td>" + line.newconfirmed + "</td>"
                        + "<td>" + line.newrecovered + "</td>"
                        + "<td>" + line.newdeaths + "</td>"
                        + "<td>" + line.totalconfirmed + "</td>"
                        + "<td>" + line.totalrecovered + "</td>"
                        + "<td>" + line.totaldeaths + "</td>"
                    let code_pi=line.countrycode
                    $('table').find('tbody').append("<tr onclick=\"location.href='./#/pi/"+code_pi+"';\">" + ligne + "</tr>");
                }
            },
            onUpdated(props, state) {
                
            }
        }
    </script>
</tablo>